.clock-container 
{
	display:none;
}

.clock-container.clocks
{
	padding:10px 0 0em 25px
}

.clock
{
  border-radius: 50%;
  background: transparent url(/img/ios_clock.png) no-repeat center;
  background-size: 88%;
  height: 150px;
  padding-bottom: 31%;
  position: relative;
  width: 150px;
}

.clock.show
{
  opacity: 1;
  transform: translateY(-50%);
  transition: all 2.5s 0.5s cubic-bezier(.12,1.03,.34,1);
} 

.clock::after
{
  background: red;
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 4%;
  height: 4%;
  z-index: 10;
}

.minutes-container, .hours-container, .seconds-container
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hours-container
{
  animation: rotate 43200s infinite linear;
}

.linear .minutes-container
{
	animation: rotate 3600s infinite linear;
}
.linear .seconds-container
{
	animation: rotate 60s infinite linear;
}

.steps .minutes-container 
{
	animation: rotate 3600s infinite steps(60);
}
.steps .seconds-container 
{
	animation: rotate 60s infinite steps(60);
}

.local.steps .minutes-container
{
	animation: none;
}

.bounce .minutes-container
{
	transition: transform 0.3s cubic-bezier(.4,2.08,.55,.44);
}
.bounce .seconds-container
{
	transition: transform 0.2s cubic-bezier(.4,2.08,.55,.44);
}

.hours {
  background: #fff;
  width: 3.5%;
  height: 40%;
  position: absolute;
  left: 48.25%;
  top: 22%;
  transform-origin: 50% 71%;
}

.minutes {
  background: #fff;
  width: 3.5%;
  height: 55%;
  position: absolute;
  left: 48.25%;
  top: 7%;
  transform-origin: 50% 78.5%;
}

.seconds {
  background: red;
  width: 1.5%;
  height: 42%;
  position: absolute;
  left: 49.25%;
  top: 20%;
  transform-origin: 50% 71%;
  z-index: 8;
}

.label {
  background: #fff;
  border-radius: 0.25em;
  color: #000;
  font-family: MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.5em 0.75em 0.25em;
  position: absolute;
  top: -4em;
  left: 50%;
  transform: translate(-50%, 0);
}

@keyframes rotate {
  100% {
    transform: rotateZ(360deg);
  }
}

.clock.ios7 {
  background: transparent url(../img/ios_clock.png) no-repeat center;
  background-size: 88%;
}

.clock.ios7:before {
  background: #fff;
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 6%;
  height: 6%;
  z-index: 0;
}

.clock.ios7:after {
  width: 2%;
  height: 2%;
}

.clock.ios7 .seconds {
  border-radius: 200%/10%;
  height: 30%;
  left: 49.5%;
  top: 20%;
  width: 1%;
  transform-origin: 50% 100%;
}

.clock.ios7 .minutes
{
  border-radius: 150%/10%;
  width: 2%;
  height: 35%;
  left: 49%;
  top: 15%;
  transform-origin: 50% 100%;
}

.clock.ios7 .hours
{
  border-radius: 85%/10%;
  width: 2%;
  height: 20%;
  left: 49%;
  top: 30%;
  transform-origin: 50% 100%;
}

.digital-clock .hours.angled
{
  transform: rotateZ(-40deg);
}

.digital-clock .minutes.angled
{
  transform: rotateZ(40deg);
}

.digital-clock
{
    color: #fff;
    text-align:center;
}

#clockNow
{
    margin-top:3.5vh;
    margin-bottom:2vh;
    font-size: 3vw;
}

#clockNow2
{
    font-size: 2vw;
}