#start_standup
{
    position:fixed;
    bottom:20px;
    right:20px;
    height:48px;
    width:48px;
	margin:auto;
	z-index:999;
	display:none;
}

#right_panel
{
	position:fixed;
	top:0;
	right:0;
	width:200px;
	height:100%;
    list-style-type:none;
    padding:0;
    margin:0;
	display:none;
	background-color: #2A2A2A;
}

#right_panel ul.users
{
	position:relative;
	margin-top:41px;
	margin-left:10px;
	padding:2px 0 2px 0;
    float:left;
    overflow: hidden;
    white-space: nowrap;
    width:100%;
}

#right_panel ul.users > li
{
    position:relative;
    margin:auto 15px auto 15px;
    display: inline-block;
}

#right_panel ul.users > li:first-child
{
    margin-left: 140px;
}

#right_panel ul.users > li.completed > img
{
    
}

#right_panel ul.users > li > img
{
    border-radius:16px;
    width:32px;
    height:32px;
}

#right_panel > .date
{
	width:180;
    color:white;
    font-size: 20px;
    text-align: center;

	border-bottom: 1px solid rgba(255,255,255,.1);
	margin-left:10px;
	margin-top:5px;
	padding:5px 0 5px 0;
}

#controls_container
{
	position:fixed;
	width:200px;
	height:250px;
	bottom:0;
    border-top: 1px solid rgba(255,255,255,.1);
}

#controls
{
	display: table;
    margin: 0 auto;
    position: relative;
    top: 90px;
}

#controls > button
{
    width:48px;
    height:48px;
    margin-left:10px;
}

#controls > button:first-child
{
    margin-left:0px;
}

#controls > button
{
    float:left;
}

#standup
{
    transition: background-color .25s ease-in-out;
    -moz-transition: background-color .25s ease-in-out;
    -webkit-transition: background-color .25s ease-in-out;
    background-color:rgba(0, 0, 0, 0);
}

#standup.running
{
    position:absolute;
    width:100vw;
    height:100vh;
    top:0;
    left:0;
    background-color:rgba(0, 0, 0, 0.7);
    z-index:999;
}

#pause_standup, #stop_standup, #next_standup
{
    display:none;
    z-index:999;
}
