#countdown
{
    position:absolute;
    display:none;
    bottom:120px;
    right:0;
    width: 200px;
    height: 110px;
	z-index:999;
}

#countdown div
{
   float:left;
}

#countdown .counter
{
   width: 200px;
   margin-right:48px;
}

#countdown .chart
{
    display:inline-block;
    width: 95px;
    height: 95px;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 22px;
    text-align: center;
}

#countdown .chart span
{
  display: block;
  font-size: 2em;
  font-weight: normal;
}

#countdown .chart img
{
    border-radius: 24px;
    width:48px;
    height:48px;
    margin-top:2px;
    margin-left:10px;
    display:none;
}

#countdown .chart canvas
{
  position: absolute;
  right: 50px;
  top: 0;
}

#countdown .text
{
    width:50px;
    height:50px;
    color:white;
    font-size: 35px;
    text-align: right;
    margin-left: 140px;
}

#countdown .user
{
    width:200px;
    height:40px;
    color:white;
    font-size: 40px;
    text-align: center;
	margin-top:-25px;
}