#localVideo
{
    position:fixed;
    top:0;
    left:0;
    z-index:2;
    width: calc(100vw - 200px);
    display:none;
    height:100%;
    background:rgba(42, 42, 42, 1);
}

#localVideo video
{
    position:relative;
    width: 100%;
    height:auto;
}